@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600&display=swap');

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fafafa;
	color: #585858;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	cursor: pointer;
	border: none;
	background: transparent;
}

.flex {
	display: flex;
}

.justify-center {
	justify-content: center;
}
.items-center {
	align-items: center;
}
.justify-between {
	justify-content: space-between;
}

.grid {
	display: grid;
	grid-gap: 1rem;
}

.md\:grid-cols-2 {
	grid-template-columns: repeat(2, 1fr);
}
.grid-cols-4 {
	grid-template-columns: repeat(4, 1fr);
}
.flex-col {
	flex-direction: column;
}

.lg\:grid-cols-3 {
	grid-template-columns: repeat(3, 1fr);
}
.lg\:grid-cols-7 {
	grid-template-columns: repeat(7, minmax(0, 1fr));
}
.md\:col-span-2 {
	grid-column-end: span 2;
}

.bg-white {
	background-color: #fff;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.p-6 {
	padding: 1.5rem;
}
.pb-8 {
	padding-bottom: 2rem;
}

.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.py-12 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.pb-80 {
	padding-bottom: 8rem;
}

.rounded,
.rounded-xl,
.rounded-lg {
	border-radius: 10px;
}
.shadow,
.shadow-xl,
.shadow-lg {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hover\:scale-100:hover {
	transform: scale(1);
}
.scale-90 {
	transform: scale(0.9);
}

img {
	max-width: 100%;
}

.font-bold {
	font-weight: 600;
}
.text-center {
	text-align: center;
}

.mt-4 {
	margin-top: 1rem;
}
.block {
	display: block;
}

.text-green-500 {
	color: #4caf50;
}

@media only screen and (max-width: 700px) {
	.grid-cols-1 {
		grid-template-columns: 1fr;
	}
	.grid {
		grid-template-columns: 1fr;
	}
	.container {
		width: 95%;
	}
	.lg\:grid-cols-7 {
		grid-template-columns: 1fr;
	}
	.md\:col-span-2 {
		grid-column-end: span 1;
	}
	.flex {
		flex-direction: column;
	}
	.w-1\/2 {
		width: 100% !important;
	}
	.grid-cols-4 {
		grid-template-columns: 1fr 1fr;
		justify-content: center;
	}
}
@media only screen and (min-width: 800px) {
	.md\:text-left {
		text-align: left;
	}
}

ul {
	list-style: none;
	padding: 0;
}

.w-full {
	width: 100%;
}

.gap-12 {
	gap: 2rem;
}
.gap-6 {
	gap: 1rem;
}

.mt-8 {
	margin-top: 2rem;
}

.w-1\/2 {
	width: 50%;
}

.my-6 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
